  /* COLORS */
/*
  body {
    border:2px solid #67B;
  }

  ul#main-menu {
    background-color:#67B;
  }

  ul#main-menu li a ,
  ul#main-menu li span {
    color:#EFE;
  }

  ul#main-menu li.current span {
    background-color:#89E;
    color:#127;
  }

  ul#main-menu li:hover {
    background-color:#349;
  }

  #content,
  #content a {
    color:#127;
  }
*/
  body {
    border:2px solid #AAA;
  }

  ul#main-menu {
    background-color:#999;
  }

  ul#main-menu li a ,
  ul#main-menu li span {
    color:#FFF;
  }

  ul#main-menu li.current span {
    background-color:#F90;
    color:#666;
  }

  ul#main-menu li a strong {
    color: #F90;
  }  

  ul#main-menu li a:hover strong {
    color: #555;
  }  

  ul#main-menu li:hover {
    background-color:#FA2;
    color:#666;
  }

  #content h1 {
    color: #D60;
  }

  #content,
  #content a {
    color:#444;
  }

  /* LAYOUT */

  html {
    height: 100%;
    font-size:14px;
  }

  body {
    margin:0;
    padding:0;
    width:70%;
    margin:0 auto;
    min-width:50em;
    max-width:1024px;
    border-width: 0 2px;
    border-style: solid;
    min-height: 100%;
  }

  ul#main-menu {
    margin:0;
    padding:0;
    list-style:none; 
    width:100%;
    overflow:hidden;
  }  

  ul#main-menu li {
    float:left;
    height:3em;
    line-height:3em;
    max-width:15em;
  }

  ul#main-menu li.logout {
    float:right;
  }

  ul#main-menu li a ,
  ul#main-menu li span {
    display:block;
    height:100%;
    padding:0 2em;
    text-decoration:none;
  }

  #content {
    clear:both;
    padding:2em;
  }

  #content ul {
    list-style:none;
    font-size:1.1em;
    margin:0;
    padding-left:2em;
    line-height:1.5em;
  }

  #content ul a {
    text-decoration:none;
  }

  #content ul a:hover {
    text-decoration:underline;
  }
  
  #content ul#dialogs {
    padding: 0;
  }

  #dialogs li {
    border-bottom: 1px solid gray;
    overflow: hidden;
  }

  #dialogs li div {
    width: 14em; 
    height: 5em;
    float: left;
  }

  #dialogs li div a, #dialogs li div span {
    display: block;
  }

  #dialogs li p {
    margin: 0;
    margin-left: 14em;
    padding-top: 0.5em;
    height: 4em;
  }

  #dialogs li p a {
    display: block;
    height: 4em;
    background-color: #EEE;
  }

  #dialogs li p a:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #FFF;
  }
