  /* COLORS */
/*
  body {
    border:2px solid #67B;
  }

  ul#main-menu {
    background-color:#67B;
  }

  ul#main-menu li a ,
  ul#main-menu li span {
    color:#EFE;
  }

  ul#main-menu li.current span {
    background-color:#89E;
    color:#127;
  }

  ul#main-menu li:hover {
    background-color:#349;
  }

  #content,
  #content a {
    color:#127;
  }
*/
  body {
    border:2px solid #AAA;
  }

  ul#main-menu {
    background-color:#999;
  }

  ul#main-menu li a ,
  ul#main-menu li span {
    color:#FFF;
  }

  ul#main-menu li.current span {
    background-color:#F90;
    color:#666;
  }

  ul#main-menu li:hover {
    background-color:#FA2;
    color:#666;
  }

  #content h1 {
    color: #D60;
  }

  #content,
  #content a {
    color:#444;
  }

  /* LAYOUT */

  html {
    height: 100%;
    font-size:14px;
  }

  body {
    margin:0;
    padding:0;
    width:70%;
    margin:0 auto;
    min-width:50em;
    max-width:1024px;
    border-width: 0 2px;
    border-style: solid;
    min-height: 100%;
  }

  ul#main-menu {
    margin:0;
    padding:0;
    list-style:none; 
    width:100%;
    overflow:hidden;
  }  

  ul#main-menu li {
    float:left;
    height:3em;
    line-height:3em;
    max-width:10em;
  }

  ul#main-menu li.logout {
    float:right;
  }

  ul#main-menu li a ,
  ul#main-menu li span {
    display:block;
    height:100%;
    padding:0 2em;
    text-decoration:none;
  }

  #content {
    clear:both;
    padding:2em;
  }

  #content ul {
    list-style:none;
    font-size:1.1em;
    margin:0;
    padding-left:2em;
    line-height:1.5em;
  }

  #content ul a {
    text-decoration:none;
  }

  #content ul a:hover {
    text-decoration:underline;
  }